{% extends 'layout.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block main %}

    {{ form_start(city) }}
    <div class="form-group">
        {{ form_row(city.city) }}
    </div>
    <div class="form-group">
        {{ form_row(city.submit) }}
    </div>

    {{ form_end(city) }}

    <div class="row">
    {% for station in stationDetails %}

    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ station.stationName }}</h5>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Szerokość: {{ station.gegrLat }}</li>
                <li class="list-group-item">Długosć: {{ station.gegrLon }}</li>
                <li class="list-group-item">Adres: {{ station.addressStreet }}</li>
                </ul>
            </div>

            {% for measure in station.whatMeasure %}
            <div class="card-body">
                <p class="card-title">{{ measure.paramName }} - {{ measure.paramCode }}</p>

                {% set sym = measure.paramCode|replace({'.':""})|lower~'IndexLevel' %}


                {% if attribute(station.pollution,sym).indexLevelName is not null %}
                {{ attribute(station.pollution,sym).indexLevelName }}
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>

    {% endfor %}
    </div>
{% endblock %}
